@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700');

html {
  height: 100%;
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  /* Font varient */
  font-variant-ligatures: none;
  -webkit-font-variant-ligatures: none;
  /* Smoothing */
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
}

body {
  background: radial-gradient(
      circle at 50% 350px,
      rgba(47, 46, 63, 0.7) 10%,
      rgba(0, 0, 0, 0.8)
    ),
    url('../img/hank-background-pattern.png') repeat fixed;
  background-color: #2c2b3d;
  background-size: 100%, 170px;
  font-family: Montserrat, Arial, sans-serif;
  color: #222;
}

p {
  line-height: 1.5em;
}

.login-pf-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-pf-page .card-pf {
  padding: 20px 40px 30px 40px;
  background: #fff;

  border-radius: 4px;
}

@media only screen and (min-width: 501px) {
  .login-pf-page .card-pf {
    width: 500px;
  }
}

@media only screen and (max-width: 500px) {
  .login-pf-page .card-pf {
    width: 100%;
  }
}

.form-group {
  display: flex;
  flex-direction: column;
}

.login-pf-page .form-control {
  height: 45px;
  padding: 8px;
  border-radius: 3px;
  border: 1px solid #d0d0d0;
}

label {
  margin-bottom: 5px;
  font-weight: 500;
}

@media only screen and (min-height: 900px) {
  div.kc-logo-text {
    background-image: url(../img/hanko-logo_white.png);
    background-size: cover;
    height: 105px;
    width: 300px;
    margin: 40px 0;
  }
}

@media only screen and (max-height: 899px) {
  div.kc-logo-text {
    background-image: url(../img/hanko-logo_white.png);
    background-size: cover;
    height: 50px;
    width: 144px;
    margin: 20px 0;
  }
}

div.kc-logo-text span {
  display: none;
}

.btn {
  font-size: 100%;
}

.btn-hanko {
  border: 1px solid #ea5953;
  background-color: #ea5953;
  color: #fafafa;
  border-radius: 3px;
  font-weight: 700;
  padding: 7px;
  cursor: pointer;
  width: 100%;
  -webkit-font-smoothing: antialiased;
  height: 45px;
  -webkit-appearance: none;
}

.btn-login-method {
  border: none;
  background-color: transparent;
  color: #222;
  font-weight: 700;
  cursor: pointer;
  -webkit-font-smoothing: antialiased;
  height: 45px;
  -webkit-appearance: none;
}

.login-methods {
  margin-top: 40px;
}

.stretched-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.or {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #d0d0d0;
  line-height: 0px;
  margin: 10px 0 20px;
}

.or span {
  background:#fff;
  font-weight: 500;
  padding:0 20px;
}

.alert {
  margin-bottom: 20px;
  border-width: 1px;
  padding: 8px;
  border-style: solid;
  line-height: 20px;
}

.alert-error {
  background-color: #ffffff;
  border-color: #ea5953;
  color: #222;
}

* {
  box-sizing: border-box;
}

.login-pf-settings {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.btn-login-change-user {
  border: none;
  background-color: transparent;
  color: #222;
  font-weight: 500;
  cursor: pointer;
  -webkit-font-smoothing: antialiased;
  -webkit-appearance: none;
  margin: 0;
}

input {
  font-family: 'Montserrat';
  font-weight: 400;
  -webkit-text-size-adjust: 100%;
  /* Font varient */
  font-variant-ligatures: none;
  -webkit-font-variant-ligatures: none;
  /* Smoothing */
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
  margin-bottom: 20px;
}

.form-control {
  padding: 8px;
  line-height: 1.66666667;
}

input[type='checkbox'] {
  margin-left: 0px;
  margin-bottom: 0px;
  cursor: pointer;
}

#kc-registration {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

a {
  color: #363636;
  font-weight: 500;
  text-decoration: none;
}

.checkbox label {
  font-weight: 500;
  margin: 0;
  display: flex;
  cursor: pointer;
}

#kc-form-buttons {
  margin-top: 20px;
}

.input-wrapper,
.label-wrapper,
.col-xs-12,
.col-sm-12,
.col-md-12,
.col-lg-12 {
  display: flex;
  flex-direction: column;
}
