html,
body,
ul,
ol {
  margin: 0;
  padding: 0;
}

$primary-color: rgb(250, 250, 250) !default;
$background-color: #333 !default;
$container-color: rgb(33, 33, 33) !default;
$navbar-color: #212121 !default;

$primary-button-color: rgb(234, 89, 83) !default;
$primary-button-font-color: #fff !default;

%font-default {
  font-family: Montserrat, Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  -moz-osx-font-smoothing: grayscale;
}

%font-label {
  @extend %font-default;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
}

%font-link {
  @extend %font-default;
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
}

%font-header {
  @extend %font-default;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
}

body {
  font: 100% Montserrat, Arial, sans-serif;
  color: $primary-color;
  background-color: $background-color;
}

a {
  text-decoration: none;
  color: $primary-color;
  font-weight: 600;
  font-family: Montserrat, Arial, sans-serif;
}

div#root {
  display: flex;
  justify-content: center;
}

div#content {
  @extend %font-default;
  max-width: 900px;
  width: 100%;
  padding: 50px;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

div.container {
  background-color: $container-color;
  border-radius: 3px;
  margin-bottom: 48px;
  padding: 20px 30px 30px;
}

div.center {
  display: flex;
  justify-content: center;
}

.spacer {
  margin-bottom: 25px;
}

.column {
  flex-direction: column;
}

.row {
  flex-direction: row;
}

.flex {
  display: flex;
}

.align-start {
  align-items: flex-start;
}

.margin-bottom {
  margin-bottom: 25px;
}

.formfield {
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
}

table {
  @extend %font-default;
  border-collapse: collapse;
  width: 100%;
  td,
  th {
    padding: 10px;
  }
}

@keyframes fadein {
  from {
    height: 0px;
  }
  to {
    height: 256px;
  }
}

.fadein {
  animation: fadein 500ms;
}

button {
  @extend %font-default;
  border: 1px solid $primary-button-color;
  background-color: $primary-button-color;
  color: $primary-button-font-color;
  border-radius: 3px;
  font-size: 16px;
  font-weight: 700;
  padding: 7px;
  cursor: pointer;
  width: 220px;
}

input {
  @extend %font-default;
  background-color: transparent;
  border-style: none none solid;
  border-width: 0px 0px 1px;
  border-color: currentcolor currentcolor rgb(51, 51, 51);
  outline: currentcolor none 0px;
  padding-bottom: 10px;
  padding-top: 7px;
  color: $primary-color;
}

thead {
  tr {
    text-align: left;
  }
}

label {
  @extend %font-label;
}

h1 {
  @extend %font-header;
  margin-bottom: 25px;
}

.navigation-bar {
  display: flex;
  background-color: $navbar-color;
  height: 70px;
  padding-left: 31px;
  padding-right: 31px;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  position: fixed;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.navigation-bar-link {
  @extend %font-link;
  color: $primary-color;
  text-decoration: none;
}

.button-list {
  display: flex;
  button {
    margin-right: 20px;
  }
}

.navbar-logo {
  width: 36px;
  height: 36px;
  margin-right: 20px;
}

.navbar-header {
  @extend %font-header;
  font-family: Montserrat, sans-serif;
  -moz-osx-font-smoothing: grayscale;
  color: $primary-color;
  font-weight: 700;
  font-size: 20px;
  text-decoration: none;
  line-height: 36px;
}

.navigation-bar-header-link {
  display: flex;
  align-content: center;
  text-decoration: none;
}

.back-arrow {
  transform: rotate(180deg);
  margin-right: 10px;
}

.pull-right {
  display: flex;
  justify-content: flex-end;
}
